
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #e305fc ;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3c1c4c;
}
.paragraph{
left: 200px;
  font-size: 15px;
  font-family: monospace;
  color: black;
  background-color:  #e305fc;
  border-width: 1px;
  border-color: black;
  border-style: solid;

  width: 50vw;
  padding: 20px;
}
